header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav a {
    color: red;
    text-align: none;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 5rem;

    list-style: none;
}

nav li:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}

.imagem{
    height: 7rem;
    padding: 0;
    margin: block;

}